@import "../../../assets/base.scss";

.button {
    background-color: $violet;
    padding: 15px;
    width: 100%;
    color: $white;
    border: 1px solid $grey;
    font-weight: bold;
    cursor: pointer;
    transition: background .2s;
    &:hover {
        background: $violet_dark;
    }
    &:focus {
       outline: 0;
    }
}