@import '../../assets/base.scss';
@import '../../assets/_mixins.scss';

.navMenu {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 72px 0;
    box-sizing: border-box;
    background: $violet_dark;
    .navMenu-item {
        @include p_large;
        text-decoration: 'none';
        display: flex;
        align-items: center;
        width: 100%;
        color: $white;
        font-weight: 700;
        cursor: pointer;
        background: $violet_dark;
        transition: background .2s, border-left .2s;
        padding: 15px;
        box-sizing: border-box;
        &:hover, &:focus, &:active {
            background: $violet_darkest;
            border-left: 10px solid $violet;
        }
        .navMenu-item_icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background: url('../../assets/icons/icn_itemMenu.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .navMenu-item_num {
            @include p;
            color: $grey;
            margin-left: 5px;
        }
    }
}


.navMenu-item_active {
    background: $violet_darkest !important;
    border-left: 10px solid $violet;
    text-decoration: none;
}

@media ( max-width: $breakpointSm ) {
    .navMenu {
        min-height: auto;
        padding: 20px 0;
    }   
}