@import "../../assets/base.scss";

.image {
    background-image: url('../../assets/images/img_profile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
@media ( max-width: $breakpointSm ) {
    .image {
        width: 40px;
        height: 40px;
    }   
}