@import './fonts.scss';

$violet_light: #eba9ef;
$violet: #c407d2;
$violet_dark: #3c1173;
$violet_darkest: #26084d;


$grey_lightest:#eeeff1;
$grey_light:#E0E0E0; 
$grey:#b8babd;
$grey_dark:#6e6f71;

$green:#29c769;
$white:#ffffff;
$black:#000000;

$font_primary: Roboto;
