@import "./assets/base.scss";
@import "./assets/fonts.scss";
@import "./assets/_mixins.scss";

    
body {
    font-family: $font_primary;
    margin: 0;
    .grid {
        display: grid;
        align-items: flex-start;
        justify-content: flex-start;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
    }
    .alert-danger {
        @include p_large;
        text-align: center;
        color: $violet;
    }
}

.login {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 20px;
    .login-col {
        grid-column: 6 / span 3;
    }
    @media ( max-width: $breakpointSm ) {
        .login-col {
            height: auto;
            grid-column: 2 / span 11;
        }   
    }
    .login-checkbox {
        @include p;
        margin: 15px 0;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
    }
    .forgotText {
        @include p_small;
        cursor: pointer;
        color: $violet;
        margin-top: 15px;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked + span:before {
        content: '\2713';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 4px;
        color: $white;
    }
    span {
        height: 18px;
        width: 18px;
        border: 1px solid $violet;;
        display: inline-block;
        position: relative;
        background-color: $violet;
        border-radius: 2px;
        margin-right: 10px;
    }
    
}
.login-input {
    & + & {
        margin-top: 20px;
    }
}

.projects {
    min-height: 100vh;
    display: flex;
    .projects-grid {
        height: 100%;
        display: grid;
        align-items: flex-start;
        justify-content: flex-start;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
        flex: 1;
        min-height: 100vh;
        .projects_col-menu {
            height: 100vh;
            grid-column: span 3;
        }
        .projects_col-main {
            grid-column: span 9;
            box-sizing: border-box;
            overflow-y: scroll;
        }
    }
}